@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

/* Variables that determines design breakpoints and colors */

$break-point-mobile: 930px;
$main-colors: (
    "background": hsl(234, 29%, 20%),
    "font": hsl(235, 18%, 26%),
    "mailbox": hsl(231, 7%, 60%),
    "light-bg": hsl(0, 0%, 100%),
    "error-active": hsl(4, 100%, 67%),
);

/* This mixins used for defining desktop/mobile styles via reusable code.
Same CSS approach for both designs, but different values. */

@mixin set-body ($background, $font-color) {
    margin: 0;
    height: 100vh;
    font-family: 'Roboto', sans-serif, system-ui;
    font-size: 16px;
    background: $background;
    color: $font-color;
    display: flex;
}

@mixin set-input-size {
    all: unset;
    width: 100%;
    height: 55px;
    border-radius: 7px;
}

@mixin styled-list ($margin-lines) {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    list-style-type: none;

    li {
        margin-top: $margin-lines;
        display: inline-flex;

        &::before {
            display: inline-flex;
            content: url("/images/icon-list.svg");
            margin-right: 15px;
        }
    }

    li:first-child {
        margin-top: 0;
    }
}

/* Declaration of common styles for both pages */

.main-button {
    all: unset;
    @include set-input-size;
    cursor: pointer;
    background: map-get($main-colors, "background");
    color: map-get($main-colors, "light-bg");
    font-weight: 700;
    text-align: center;
    line-height: 55px;

    &:hover {
        outline: 2px solid map-get($main-colors, "mailbox");
    }

    &:focus {
        outline: 2px solid map-get($main-colors, "mailbox");
    }

    &:active {
        background: map-get($main-colors, "error-active");
    }
}

#mailbox {
    @include set-input-size;
    color: map-get($main-colors , "font");
    outline: 1px solid map-get($main-colors , "mailbox");
    margin-bottom: 24px;
    text-indent: 20px;

    &::placeholder {
        color: map-get($main-colors , "mailbox");
    }

    &:focus {
        outline: 2px solid map-get($main-colors, "background");
    }
}

.input-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-top: 45px;
    padding-bottom: 9px;

    .label-error {
        color: map-get($main-colors, "error-active");
        font-size: 12px;
        font-weight: 700;
    }

    label {
        font-size: 12px;
        font-weight: 700;
    }
}

.wrapper-success {

    h1 {
        margin-top: 40px;
        margin-bottom: 25px;
        font-size: 56px;
        font-weight: 700;
        line-height: 56px;
    }

    p {
        margin: 0;
        margin-bottom: 40px;
        line-height: 24px;
    }
}

@supports (display: flex) {

    /* Desktop styles declared here*/

    @media screen and (min-width: $break-point-mobile) {

        html body {
            @include set-body(map-get($main-colors, "background"), map-get($main-colors, "font"));
            justify-content: center;
            align-items: center;
        }

        .container {
            width: 930px;
            height: 640px;
            border-radius: 40px;
            background: map-get($main-colors, "light-bg");
            display: flex;
            justify-content: space-between;
            align-items: center;

            img#logoGraphics {
                margin-right: 23px;
                content: url("/images/illustration-sign-up-desktop.svg");
            }

        }

        .info {
            align-self: start;
            width: 390px;
            margin-left: 54px;
            margin-top: 100px;

            h1 {
                margin: 0;
                font-size: 56px;
                font-weight: 700;

            }

            p {
                margin-top: 10px;
                margin-bottom: 18px;
                line-height: 24px;
            }

            ul {
                @include styled-list(12px);
            }
        }

        .wrapper-success {
            background: map-get($main-colors, "light-bg");
            border-radius: 40px;
            width: 380px;
            height: 420px;
            padding: 60px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: start;

            #emailTarget {
                font-weight: 700;
            }
        }
    }

    /*Mobile styles declared here*/

    @media screen and (max-width: $break-point-mobile) {

        html body {
            @include set-body(map-get($main-colors, "light-bg"), map-get($main-colors, "font"));
            display: flex;
            justify-content: center;

        }

        .container {
            display: flex;
            flex-direction: column-reverse;
            align-content: space-between;

            img#logoGraphics {
                content: url("/images/illustration-sign-up-mobile.svg");
            }
        }

        .info {
            margin-left: 24px;
            margin-right: 24px;

            h1 {
                margin-top: 30px;
                margin-bottom: 22px;
                font-size: 40px;
                font-weight: 700;
            }

            ul {
                @include styled-list(18px);
            }
        }

        .wrapper-success {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 25px;
            height: calc(100vh - 50px);

            #emailTarget {
                font-weight: 700;
            }

            .textbox {
                margin-top: 125px;
            }

            button {
                margin-bottom: 15px;
            }
        }
    }
}